<div style="margin-top:20px">
    <div class="bg-body-tertiaryp-5 rounded">
        <div class="col-sm-12 mx-auto">
            <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
                    <div class="bg-body-tertiary border rounded-3">
                        <br><br><br><br><br><br><br><br><br><br>
                    </div>
                    <div class="bg-body-tertiary border rounded-3">
                        <br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>