/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100% !important;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #dedede !important;
}

app-root {
    width: 100%;
}