<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
            aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">

            <ul *ngIf="!identity.user.type" class="navbar-nav col-lg-6 justify-content-lg-center">

                <li class="nav-item" *ngFor="let menu of menus">
                    <a class="nav-link" [class]="1 === 1 ? 'active' : ''" aria-current="page" [routerLink]="menu.route"
                        [innerText]="menu.name"></a>
                </li>

            </ul>

            <div class="d-lg-flex col-lg-6 justify-content-lg-end" [class]="!identity.user.type ? 'col-lg-6': 'col-lg-12'">
                <ul class="navbar-nav justify-content-lg-center" [class]="!identity.user.type ? 'col-lg-6': 'col-lg-3'">
                    <li class="nav-item dropdown" style="cursor: pointer;">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                            [innerText]="accountMenus.name"></a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let subMenu of accountMenus.subMenus">
                                <a class="dropdown-item" [innerText]="subMenu.name" (click)="fn(subMenu)"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>